.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  height: 5px;
  margin: 15px 0;
  width: 100%;
}

.progress-done {
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5px;
  border-radius: 5px;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
  background-color: #e91e63;
  /* background: linear-gradient(to left, #f2709c, #ff9472); */
  /* box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c; */
}

.progress-info {
  display: flex;
  justify-content: space-between;
  color: #424242;
}
